.dashboard_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  padding: 2rem;
}
.dashboard_wrapper {
  width: 100%;
}
.user_greeting {
  display: flex;
  align-items: center;
  background: var(--text-light);
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}
.user_mock {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 4rem 0 2rem;

  .image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.greeting p {
  font-size: 2rem;
}
.greeting span {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}
.toggel_wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  background: var(--text-light);
  padding: 3rem;
  gap: 10rem;
}
.toggel_box {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}
.toggel_box p {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;

  cursor: pointer;
}
.disabled_chart {
  background: #2c415096;
  color: var(--text-light);
}
.active_chart {
  background: #7fb1d4;
  color: var(--primary-color);
}
.attendence_count {
  font-size: 1.8rem;
}
.chart_wrapper {
  width: 100%;
  padding: 2rem;
  background: var(--text-light);
}
.line_chart,
.bar_chart,
.pie_chart {
  margin: 1rem 0;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* --------------Responsiveness----------- */
@media (max-width: 768px) {
  .dashboard_container {
    padding: 0.3rem;
  }
  .user_greeting {
    flex-direction: column;
  }
  .greeting {
    text-align: center;
  }
  .toggel_wrapper {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 0.5rem;
  }
  .toggel_box {
    gap: 0.5rem;
    font-size: 1.4rem;
  }
  .chart_wrapper {
    padding: 0;
  }
}
