.sidebar_wrapper {
  position: relative;
}
.sidebar_toggle,
.sidebar_retoggle {
  position: absolute;
  top: 2rem;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--primary-color);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
}
.sidebar_retoggle {
  transform: translateX(50%);
}
.sidebar_toggle {
  transform: translateX(50%) rotate(180deg);
}
.sidebar,
.sidebar_collapse {
  height: 100%;
  padding: 5rem 1rem 0;
  background: var(--primary-color);
  transition: all 0.1s linear;
}
.sidebar {
  width: 20rem;
}
.sidebar_collapse {
  width: 5.2rem;
}
.sidebar .nav_item,
.sidebar_collapse .nav_item {
  margin: 2rem 0;
}
.nav_item a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background: var(--text-light);
  border-radius: 0.5rem;
}
.sidebar .nav_icon,
.sidebar_collapse .nav_icon {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.sidebar .nav_title {
  font-size: 1.5rem;
  font-weight: 500;
}
.sidebar_collapse .nav_title {
  display: none;
}
