@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #081b29;
  --secondary-color: #0ef;
  --text-light: whitesmoke;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
.base_layout {
  display: flex;
  height: 100vh;
  gap: 2rem;
  margin-top: 70px;
}
a {
  color: inherit;
  text-decoration: none;
}
.error_message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
}
